*{
    margin: 0px;
    padding: 0px;
}


#logo{
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute; top: 100px; left: 850px;
}

#texto{
    background-color: transparent;
    height: 50px;
    width: 400px;
    position: absolute; top: 230px; left: 700px;
    font-size: 30px;
    font-family: cursive;
}

#divpadre {
    background-color: transparent;
    width: auto;
    height: 997px;
}

#titulomod1 {
    position: absolute;
    top: 20px;
    left: 640px;
}

#img1 {
    background-color: transparent;
}

#SF {
    background-color: transparent;
}

button {
    background-color: transparent;
    border-color: transparent;
}

/* button:hover {
    transform: translate(0.8px);
} */

#d1{
    position: absolute; top: 240px; left: 348px;
    background-color: transparent;
    height: 200px;
    width: 210px;
}

#d2{
    position: absolute; top: 550px; left: 810px;
    background-color: transparent;
    height: 200px;
    width: 210px;
}

#d3{
    position: absolute; top: 240px; left: 580px;
    background-color: transparent;
    height: 200px;
    width: 210px;
}

#d4{
    position: absolute; top: 550px; left: 1270px;
    background-color: transparent;
    height: 200px;
    width: 210px;
}

#d5{
    position: absolute; top: 240px; left: 812px;
    background-color: transparent;
    height: 200px;
    width: 210px;
}

#d6{
    position: absolute; top: 240px; left: 1270px;
    background-color: transparent;
    height: 200px;
    width: 210px;
}

#d7{
    position: absolute; top: 240px; left: 1040px;
    background-color: transparent;
    height: 200px;
    width: 210px;
}

#d8{
    position: absolute; top: 550px; left: 348px;
    background-color: transparent;
    height: 200px;
    width: 210px;
}

#d9{
    position: absolute; top: 550px; left: 580px;
    background-color: transparent;
    height: 200px;
    width: 210px;
}

#d10{
    position: absolute; top: 550px; left: 1040px;
    background-color: transparent;
    height: 200px;
    width: 210px;
}
